@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

.fancyBorder {
    border-radius: 30% 70% 88% 12% / 30% 45% 55% 70%;
}

.ballBg {
    background: linear-gradient(
        45deg,
        rgba(255, 135, 15, 0) 25%,
        rgba(255, 135, 15, 0.7) 80%
    );
}

.goDownArrow {
    animation: downArrow 500ms ease-in-out alternate infinite;
}

@keyframes downArrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(8px);
    }
}

/* Swiper Utility */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 2rem;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-pagination-bullet {
    height: 4px !important;
    border-radius: 5px !important;
}

.swiper-pagination-bullet-active {
    animation: ActiveBullet 500ms forwards;
}

.parallax-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 200%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* Swiper Portfolio */
.portfolio .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 3.5rem;
}

.portfolio .swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 0;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.portfolio .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .swiper-pagination-bullet-active {
    border-radius: 5px !important;
    animation: ActiveBullet 500ms forwards;
}

@keyframes ActiveBullet {
    0% {
        width: 0.5rem;
    }
    100% {
        width: 2rem;
    }
}

/* menu */
#nav-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ff870f;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.5s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 8px;
    width: 75%;
}

#nav-icon1 span:nth-child(3) {
    top: 16px;
}

#nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    right: 30px;
}

#nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
